main{
    width: calc(100% - 6rem);
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainHeading{
    text-align: center;
    margin: 0 auto;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 60px;
    color: rgb(32, 31, 31);
    font-size: 2.2rem;
}

.mainHeading::after{
    content: '';
    display: block;
    width: 100px;
    height: 5px;
    background-color: rgb(94, 144, 236);
    margin: 10px auto  0;
    border-radius: 10px;
}

.noTour{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noTour button{
    margin-top: 50px;
    font-weight: 550;
    color: rgb(34, 146, 34);
    border: 1px solid rgb(34, 146, 34);
    display: inline-block;
    padding: 0.8rem 1rem;
    letter-spacing: 2px;
    font-size: .9rem;
    transition: all .3s ease-in-out;
    background-color: #fff;
}

.noTour button:hover{
    background-color: rgb(34, 146, 34);
    color: #fff;
    transition: all .3s ease-in-out;
    cursor: pointer;
}