.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.section-title{
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 1.8rem;
}

.about-section p{
    font-size: 1.3rem;
    padding: 0 3rem;
}