@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

body{
  background-color: rgb(218, 218, 218);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h3{
  margin: 40px 0 20px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.form{
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.form input{
  border: none;
  margin: 0 0 20px;
  padding: 15px;
  font-size: 1rem;
  border-radius: 5px;
}

.form button{
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  transition: all .3s ease-in-out;
}

.form button:hover{
  background-color: #000;
  color: #fff;
  transition: all .3s ease-in-out;
}

.colors{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.error{
  border: 1px solid red;
}

.color-light{
  color: #fff;
}

@media screen and (max-width:768px) {
  .colors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (max-width:480px) {
  .colors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}